
@{
    ViewData["Title"] = "AboutMe";
}

<!-- About Me Section -->
<div class="row GrayishColor text-center changepaddingfortextonabout m-0" style="overflow-y:auto; height:100%; border-radius: 5px; font-family:RobotoFlex!important; font-weight:200; color:#707070; font-size:x-large; padding:100px; padding-top:80px;">
    <div class="col-md-12">

        @* <!-- About Me Title --> *@
        @* <h3 class="mt-3 text-start" style="font-size:xx-large; color:#333333; font-weight:300;">ABOUT ME</h3> *@

        <!-- Personal Narrative -->
        <p>
            I'm <b>passionate</b> about building <b>something from scratch.</b> I've always had the mindset that <b>programming is an art</b>, as you can <b>create something out of nothing</b>, just like an artist.
            My development journey started when I realized the power of code to <b>transform ideas into reality</b>.
        </p>

        <!-- Personal Philosophy -->
        <p>
            My philosophy is simple: <b>clean code</b>, <b>meaningful impact</b>, and <b>continuous learning</b>. I strive to stay relevant with new technologies and methodologies to <b>create innovative solutions</b>.
        </p>

        <h1 class="ps-2 text-start mt-5" style="font-family:RobotoFlex; font-weight:300;margin-top:70px!important; color:#333333;">
            SKILLS
        </h1>
        <!-- Skill Bars -->
        <table class="skills-table">
            
            <tr>
                <td>C# .NET EF ASP.NET RAZOR/MVC APIs</td>
                <td class="tdonright"><span class="tag text-success">Expert</span></td>
            </tr>
            <tr>
                <td>HTML CSS BOOTSTRAP</td>
                <td class="tdonright"><span class="tag text-primary">Advanced</span></td>
            </tr>
            <tr>
                <td>JavaScript TypeScript</td>
                <td class="tdonright"><span class="tag text-warning">Intermediate</span></td>
            </tr>
            <tr>
                <td>MSSQL</td>
                <td class="tdonright"><span class="tag text-secondary">Basic</span></td>
            </tr>
            <tr>
                <td>Java / Java Spring</td>
                <td class="tdonright"><span class="tag text-danger">Beginner</span></td>
            </tr>
        </table>


        
    </div>
</div>