
@{
    ViewData["Title"] = "Contact";
}

<div class="row h-100">
    <div class="col-md-12 p-5 text-center" style="">
        <h2 style=" font-weight:300;">Feel free to contact me for any questions or job opportunities.</h2>
        <a class="acursor contactfont" style=" font-weight:100;" onclick="window.open('tel:599022908');">Number: +995 599 02 29 08</a>
        <p class="contactfont">E-Mail: saluqvadze2006@gmail.com</p>
    </div>
</div>

