@{
    ViewData["Title"] = "CV";
}
<div class="container mycv">
    <embed src="/media/Qvabbyte/sesilifixedmycv.pdf" frameborder="0" width="100%" height="700px">
</div>
<img class="mycv2" src="~/media/Qvabbyte/SABA_SALUKVADZE_CV.png" width="100%" height="auto"/>