@{
    ViewData["Title"] = "|CV|";
}
@* <iframe src=".//css/" width="600" height="500">

</iframe> *@
<div class="container">
    @* <object data="/media/Qvabbyte/CV.pdf"
            type="application/pdf"
            width="100%"
            height="1000px">
        <p>
            Your browser does not support PDFs.
            <a href="/media/Qvabbyte/CV.pdf">Download the PDF</a>
            .
        </p>
    </object> *@
    <embed src="/media/Qvabbyte/sesilifixedmycv.pdf" frameborder="0" width="100%" height="700px">
        @* <img src="/media//Qvabbyte/CV.jpg" width="100%"/> *@
</div>
