@{
    ViewData["Title"] = "|Home|";
}

<div class="text-center">
    <div id="qvabbytetext" class="display-4">
        <div class="letterforqvatext" id="q">Q</div><div class="letterforqvatext" id="v">v</div><div class="letterforqvatext" id="a">a</div><div class="letterforqvatext" id="b">b</div><div class="letterforqvatext" id="b2">b</div><div class="letterforqvatext" id="y">y</div><div class="letterforqvatext" id="t">t</div><div class="letterforqvatext" id="e">e</div>
    </div>
</div>
