@{
    ViewData["Title"] = "|Home|";
}
<div class="HeadPart p-3 container">
    <div class="row HeadTry align-items-center text-center">
        <!-- Qvab section -->
        <div class="col-md-4 text-center d-flex flex-column justify-content-center">
            <div id="qvabbytetext" class="display-4">
                <div class="letterforqvatext">Q</div>
                <div class="letterforqvatext">v</div>
                <div class="letterforqvatext">a</div>
                <div class="letterforqvatext">b</div>
            </div>
            <div id="qvabbytetext" class="display-4">
                <div class="letterforqvatext">b</div>
                <div class="letterforqvatext">y</div>
                <div class="letterforqvatext">t</div>
                <div class="letterforqvatext">e</div>
            </div>
        </div>
        <!-- Image section -->
        <div class="col-md-4 text-center mt-4 mt-lg-0">
            <div class="image-container">
                <img id="qvabbyteimage" class="rounded-circle" src="media/Qvabbyte/qvabbytefixed.png" />
            </div>
        </div>
        <!-- Developer section -->
        <div class="col-md-4 text-center mt-4">
            <h1 class="display-4">Full-Stack Developer</h1>
            <p>(Mainly Focused On Back-end.)</p>
        </div>
    </div>
</div>
