@{
    ViewData["Title"] = "WORKS";
}

<div class="row " style="background-color: #f0f0f0; border-radius: 5px;">
    <div class="col-md-12 mt-5 p-4">
        <h1 style="color: #333; font-weight: bold;">My Published Works.</h1>
        <div class="card" style="margin-bottom: 20px; background-color: #f7f7f7; border: 1px solid #ddd; border-radius: 10px;">
            <div class="card-body">
                <h2 class="card-title text-start" style="color: #333; font-weight: bold;">Amo's Service</h2>
                <p class="card-text" style="color: #B7BDC8;">I've solo developed this simple website, purpose of this website is just towing and car services.</p>
                <a href="https://www.amosservice.ge/" target="_blank" class="btn btn-primary btn-lg" style="background-color: #2196F3; border-color: #2196F3;">View Website</a>
            </div>
        </div>
    </div>
</div>