html {
    font-size: 14px;
    height: 100%;
    overflow-y: hidden;
}

body {
    height: 100%;
}

@font-face {
    font-family: RobotoFlex;
    src: url(/media/Fonts/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].ttf);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}





/* Dropdown Button */
.dropbtn {
    background-color: #4A4949;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: 0.3s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {

    transition: 0.5s;
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: flex;
    transition: 0.5s;
    flex-direction: row;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #303030;
    transition:0.3s;
}








.skills-table {
    width: 99%;
    border-collapse: collapse;
}

.tdonright {
    text-align: right !important;
}

.skills-table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.skills-table td {
    text-align: start;
    padding: 12px;
    vertical-align: middle;
}

.tag {
    text-align: right;
    /*    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 15px;*/
    padding: 3px 10px;
    font-size: 14px;
    display: inline-block;
}

.nav-item.active {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-position: under;
    backdrop-filter: blur(10%);
    transition: 0.3s;
}

.nav-item:hover {
    backdrop-filter: blur(30%);
    transition: 0.3s;
}

.nav-item {
    transition: 0.3s;
}

#NavbarBrand {
    display: none;
}

.HeadPart {
    background-color: #f0f0f0;
}

.GrayishColor {
    background-color: #f0f0f0;
}

/* QVABBYTE letters */
.letterforqvatext {
    font-size: 6.5rem;
    font-weight: 600;
    display: inline-block;
    transition: all 0.6s ease-out;
    animation: none;
}

#qvabbytetext {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
}

    #qvabbytetext > div {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        flex-wrap: wrap;
        font-family: RobotoFlex;
        text-align: center;
    }

.FullName {
    font-family: RobotoFlex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


/* Image appearance */
#qvabbyteimage {
    opacity: 0;
    width: 300px;
    height: 300px;
    transition: all 0.6s ease-out;
    top: -150px;
    position: relative;
}

.image-container {
    text-align: center;
}

.QvabbyteImageContainer {
    margin-top: 1.5rem;
}

.navitemcss {
    display: flex;
    justify-content: space-between;
}
/* Developer section */


h1 {
    font-weight: 700;
    color: #333;
}

/* Bounce animation keyframes */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.IconAnim:hover {
    transform: scale(1.05);
    transition: 1s;
}

.IconAnim:hover {
    transform: scale(1);
    transition: 1s;
}
/* Bounce animation with delay */
.bouncing {
    animation: bounce 0.8s ease-out;
}

.footer {
    position: relative !important;
}

.scrollbar {
    overflow: auto;
}

#scrollbar::-webkit-scrollbar {
    width: 5px;
}

#scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #151B23;
}

.navitemscss {
    color: #333333 !important;
}

#scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2196F3;
}

.mycv2 {
    display: none;
}

.FULLSTACKDEVELOPER {
    font-size: 5.72rem;
    color: #707070 !important;
}
/* Responsive adjustments */
@media (max-width: 576px) {
    .letterforqvatext {
        font-size: 1.5rem;
    }

    #qvabbyteimage {
        width: 120px;
        height: 120px;
    }
}

@media(max-width:1294px) {
    .letterforqvatext {
        font-size: 5.5rem !important;
    }

    .FULLSTACKDEVELOPER {
        font-size: 4.72rem !important;
    }
}

@media(max-width:1131px) {
    #qvabbyteimage {
        width: 270px !important;
        height: 270px !important;
    }



    @media(max-width:1110px) {
        .letterforqvatext {
            font-size: 4.5rem !important;
        }

        .FULLSTACKDEVELOPER {
            font-size: 3.82rem !important;
        }
    }



    @media(max-width:993px) {
        .changepaddingfortextonabout {
            padding: 100px !important;
            padding-top: 100px !important;
        }

        .letterforqvatext {
            font-size: 3.5rem !important;
        }

        .FULLSTACKDEVELOPER {
            font-size: 3rem !important;
        }
    }

    @media(max-width:767.5px) {
        .QvabbyteImageContainer {
            display: flex !important;
            justify-content: center !important;
        }

        .CHAETRIEDABLA {
            display: flex !important;
            margin-top: auto !important;
        }

        .QvabbyteImageContainer {
            align-items: flex-start !important;
        }

        .changepaddingfortextonabout {
            padding: 70px !important;
            padding-top: 60px !important;
        }
    }

    @media(max-width:463px) {
        .letterforqvatext {
            font-size: 3rem !important;
        }

        .FULLSTACKDEVELOPER {
            font-size: 2.5rem !important;
        }

        .changepaddingfortextonabout {
            padding: 50px !important;
            padding-top: 20px !important;
        }
    }

    @media(max-width:401px) {
        .letterforqvatext {
            font-size: 2.5rem !important;
        }

        .FULLSTACKDEVELOPER {
            font-size: 2rem !important;
        }
    }


    @media (max-width:575.5px) {
        #NavbarBrand {
            display: flex;
        }

        #noneedanymore {
            display: none;
        }

        .ullistebii {
            gap: 5px !important;
        }
    }

    @media (max-width:680px) {
        .imagefixresponsive {
            width: 100% !important;
            height: auto !important;
        }
    }

    @media (max-width: 768px) {
        .QvabbyteImageContainer {
            margin-top: unset !important;
        }
    }

    @media (max-width: 196px) {
        #qvabbyteimage {
            width: 100px;
            height: 100px
        }
    }

    @media (max-width: 176px) {
        #qvabbyteimage {
            width: 50px;
            height: 50px
        }
    }
}
