html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.HeadPart {
    background-color: #f0f0f0;
}
.GrayishColor {
    background-color: #f0f0f0;
}

/* QVABBYTE letters */
.letterforqvatext {
    font-size: 2.5rem;
    display: inline-block;
    transition: all 0.6s ease-out;
    animation: none;
}

#qvabbytetext {
    display: flex;
    align-items: center;
    justify-content: center;
}

    #qvabbytetext > div {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        flex-wrap: wrap;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }

.FullName {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


/* Image appearance */
#qvabbyteimage {
    opacity: 0;
    width: 150px;
    height: 150px;
    transition: all 0.6s ease-out;
    top:150px;
    position: relative;
}

.image-container {
    text-align: center;
}
.QvabbyteImageContainer {
    margin-top: 1.5rem;
}


/* Developer section */
.HeadTry {
    display: flex;
    align-items: center;
}

h1 {
    font-weight: 700;
    color: #333;
}

/* Bounce animation keyframes */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* Bounce animation with delay */
.bouncing {
    animation: bounce 0.8s ease-out;
}

.footer{
    position:relative!important;
}

.scrollbar {
    overflow: auto;
}
#scrollbar::-webkit-scrollbar {
    width: 5px;
}

#scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #151B23;
   
}

#scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2196F3;
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .letterforqvatext {
        font-size: 1.5rem;
    }

    #qvabbyteimage {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 768px) {
    .QvabbyteImageContainer{
        margin-top:unset!important;
    }
}
@media (max-width: 196px) {
    #qvabbyteimage{
        width:100px;
        height:100px
    }
}
@media (max-width: 176px) {
    #qvabbyteimage {
        width: 50px;
        height: 50px
    }
}